body {
  background: #466368;
  background: -webkit-linear-gradient(#648880, #293f50);
  background:    -moz-linear-gradient(#648880, #293f50);
  background:         linear-gradient(#648880, #293f50);
  background: linear-gradient(to left top, #648880, #293f50) fixed;
}

h1 {
  padding: 10px;
  font-family: 'Pacifico', cursive;
  font-size: 4em;
  color: #9a9b9c;
  margin: auto;
}

h3 {
  padding: 10px;
  font-family: 'Montserrat Alternates', sans-serif;
  color: #9a9b9c;
  margin: auto;
 }
 
 ul {
   padding-left: 10px;
 }
 
 .social {
   height: 90px;
   width: 90px;
 }
 
 #footer {
   position: fixed;
   padding: 5px 5px 0 5px;
   bottom: 0;
   height: 45px;
   
 }
 
 #credit {
   color: #9a9b9c;
 }
 